<div class="container" style="width: 100%">
<div id="dashboard" class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dashboardMenu" 
  	data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Your DashBoard
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dashboardMenu">
    <li><a href="#">Patient</a></li>
    <li><a href="#">Training</a></li>
    <li><a href="#">Budget</a></li>
    </ul>
</div>

<div id="dataentry" class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dataentryMenu"
   data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Data Entry
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dataentryMenu">
    <li><a href="#">Patient</a></li>
    <li><a href="#">Training</a></li>
    <li><a href="#">Budget</a></li>
    </ul>
</div>

</div>

<div class="container">
<p>This is the main content</p>
</div>